###############################################################################
# Core Python build artefacts
###############################################################################
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/
*.manifest
*.spec

###############################################################################
# Packaging / editable-install helpers
###############################################################################
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pypackages__/

###############################################################################
# Test & coverage tooling
###############################################################################
.pytest_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

###############################################################################
# Documentation
###############################################################################
docs/_build/

###############################################################################
# macOS, editors & IDEs
###############################################################################
.DS_Store
.vscode/
.idea/          # comment out if you *do* want JetBrains files in VCS

###############################################################################
# Misc. tooling caches
###############################################################################
.mypy_cache/
.pdm.toml
.pdm-python
.pdm-build/
.pdm.lock
.pdm/
.pyre/
.pytype/
cython_debug/
